@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    string manv = HttpContextAccessor.HttpContext.Session.GetString("MaKH");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Vua Đệm</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/shop/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style-shop.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    @await Component.InvokeAsync("RenderTopbar");
    <!-- Topbar End -->
    <!-- Navbar Start -->
    @await Component.InvokeAsync("RenderNavbarShop",manv)
    <!-- Navbar End -->
    @RenderBody()
    <!-- Footer Start -->
    <partial name="shop-Footer"/>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/shop/easing/easing.min.js"></script>
    <script src="/lib/shop/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>
    <script src="/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/shop/main.js"></script>
    <!--search script-->
    <script>
            $("button#btnSearch").click(function (e) {
            var search = $("#searchSP").val();
            var data = { search: search };
            $.ajax({
                url: "/Shop/IndexContent",
                data: data,
                success: function (response) {
                    $("").html(response);
                },
                        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
        }
            });
        });

    </script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>